
body {
    background-color: #fffff8;
    margin: 3px;
}

table {
  width: 100%;
}

table, th, thead, tbody, td { border: 1px solid black; border-width: 1px; border-collapse:collapse;
}

th, thead { font-family: Arial, sans-serif; color: #0000ff; background-color: #a0ffa0;
    font-weight: bold; font-size: 200%; border-width: 1px; border-color: black;
    align: center; text-align: center;
}

td { font-family: Arial, sans-serif; font-size: 110%;
    padding: 4px; border-width: 1px; border-color: black;
    text-align: center; min-width: 18px; min-height: 10px; 
}

.roomName {
  font-family: Arial, sans-serif;
  font-size: 200%;
}

.onButton {
  background-color: #44ff44;
  font-size: 200%;
  border-radius: 10px;
  width: 40%;
}

.offButton {
  background-color: #ff4444;
  font-size: 200%;
  border-radius: 10px;
  width: 40%;
}

.sourceList {
  background-color: #eeddcc;
  font-size: 200%;
  border-radius: 10px;
  width: 60%;
}

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  owidth: 40%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
  direction: rtl;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 35px;
  height: 35px;
  background: #ff3344;
  cursor: pointer;
  border-radius: 20px;
}

.slider::-moz-range-thumb {
  width: 35px;
  height: 35px;
  background: #fCAF50;
  cursor: pointer;
  border-radius: 20px;
}
